/* Custom Font */
body {
  background-color: #1f1d36;
  font-family: "Fira Mono", monospace;
  color: #f5f5f5;
}
/*  */

/* Background Colors */
.bg-color-section {
  background-color: #595b83;
}

.bg-color-card {
  background-color: #404258;
}
/*  */

/* Card Shadow Drop */
.card-body {
  box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem #ccc;
}
/*  */

/* Typing Effect */
.container p span.typed-text {
  font-weight: normal;
  color: #e17055;
}

.container p span.cursor {
  display: inline-block;
  background-color: #f5f5f5;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}

.container p span.cursor.typing {
  animation: none;
}

@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}
/*  */

/* Change Project Image Size */
.project {
  width: 200px;
  height: auto;
}

/* Remove default hyperlink styles */
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

/* Navbar z-index*/
.navbar,
footer {
  z-index: 999;
}
/*  */

/* Bootstrap CSS changes */
.jumbotron {
  margin: 0px;
}
/*  */

/* Float Right  */
.float {
  float: right;
}

.round {
  display: block;
  width: 475px;
  height: 475px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem #ccc;
}
/*  */

/* Responsive */
@media (max-width: 912px) {
  .container > h1 > p,
  .container > p {
    font-size: 1.5rem;
  }

  .avatar {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 540px) {
  .bottom-margin {
    margin-bottom: 2rem;
  }

  #slides {
    padding-top: 2rem;
    float: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .round {
    width: 300px;
    height: 300px;
  }

  .avatar {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* header {
    display: none;
  } */

  .container > h1 > p,
  .container > p {
    font-size: 0.9rem;
  }

  #about {
    padding-top: 2rem;
  }

  .jumbotron {
    padding: 1rem;
  }
}
/*  */

/* Remove margin after <p> tag*/
.no-margin {
  margin-bottom: 0;
}
/*  */
